.intro-content-section{
  max-width: 1000px;
  padding-top: 15vh;
  margin: 0 auto;
  align-items: center;
}

.descmesg{
  display: block;
  position: relative;
  padding: 0 1rem;
  margin: 2rem auto;
}


.descmesg h2{
  margin-top: 10vh;
  margin-bottom: 0.83em;
}

.descmesg.b h2{
  margin: 1.2rem auto;
}


.img-professor{
  width: 20%;
  float: left;
}

.intro-professor{
  align-items: center;

}
.img-professor img{
  object-fit: contain;
}

li{
  margin: 0 auto;
  align-items: center;
  text-align: left;
}
.js-footer {
	display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  position: relative;
  width: 100%;
	height: 52px;
  background: rgb(12,65,99);
}

@media (min-width: 800px){
  p{
    font-size: 1.3rem;
  }
  li{
    font-size: 1.3rem;
    /* padding: 1.1rem; */
  }
  .img-professor{
    width: 20vw;
  }
}