@@charset "UTF-8";

html{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
}

body{
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  background: white;
}


/* 기본적으로 p 태그의 행간격을 설정 */
p{
  line-height: 1.6;
}

/* link text 스타일 조정 */
a{
  color: rgb(29,29,31);
  text-decoration: none;
}

/* 상단 메뉴바 */
.global-nav {
  height: 52px;
  padding: 0 1rem;
  border-bottom: 1px solid #ddd;
}

.global-nav-links{
  display: flex; /* 문자 길이만큼 배치되도록 설정한 것 */
  align-items: center;

  height: 100%;
  max-width: 1000px; /* 최대 1000px로 설정해 화면 크기가 1000px보다 작아지면 저절로 줄어들게 하기 위함*/
  margin: 0 auto;  /* 가운데 정렬을 해주기 위해 좌우 마진을 0으로 지정하고 auto로 설정 */
}

/* 메뉴 부분 */
.global-nav-links a:not(.global-nav-item){
  margin-left: 2em;
  font-size: 0.85rem;
}

/* 로고(한터 이름) 부분 */
.global-nav-item{
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: auto; /* 마진을 auto로 지정하는 이유는 내가 쓸 수 있는 공간을 사용할 수 있는 범위 내에서 최대로 사용하기 위함 */
}

.content {
	position: relative;
	/* padding-top: 50vh; */
}

.js-footer {
	display: flex;
  bottom: 0;
  position:relative;
  width:100%;
	align-items: center;
	justify-content: center;
	height: 52px;
  background: rgb(12,65,99);
}

.sns_btn button{
  max-width: 1000px;
  margin: 0 1rem;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

/* 가로 1024px 이상 화면을 가진 기기에서는 아래 css 적용 */
@media (min-width: 1024px) {
  
}
