@charset "UTF-8";

.content-section{
	position: relative;
  padding-top: 45vh;
}

.content-section h1{
  font-size: 4rem;
  text-align: center;
}

.main-message{
  display: flex;
  align-items: center;
  justify-content: center;
  top: 40vh;
  margin: 5px 0;
  height: 3em;
  font-size: 2rem;
  opacity: 0;
}

.sticky-elem-canvas{
  top: 0;
  height: 100%;
}

.sticky-elem-canvas canvas{
  top: 50%;
  left: 50%;
  position: absolute;
}
.main-message p{
  color: black;
  text-align: center;
  line-height: 1.2em;
}

.main-message.d strong, .main-message.a strong{
  color: rgb(12,65,99);
}

.description{
  padding-top: 25vh;
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 1000px;
}

.sticky-elem{
  display: none;
  position: fixed;
  width: 100%;
  left: 0;
}

#show-scene-0 #content-section-0 .sticky-elem{
  display: block;
}

.menu{
  margin: auto;
  width: 120px;
  height: 120px;
  background-color: rgb(12,65,99);
  border-radius: 50%;

  cursor: pointer;

  text-align: center;
  line-height: 120px;

  color: white;
}

.menu-boxes{
  display: flex;
  align-items: center;
  padding: 10vh 0;
}
/* 가로 1000px 이상 화면을 가진 기기에서는 아래 css 적용 */
@media (min-width: 1000px) {
  .content-section h1{
    font-size: 8rem;
    letter-spacing: 1.5rem;
  }

  .main-message{
    font-size: 4vw;
  }

}
