@charset "UTF-8";

html{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
}

body{
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  background: white;
}


/* 기본적으로 p 태그의 행간격을 설정 */
p{
  line-height: 1.6;
}

/* link text 스타일 조정 */
a{
  color: rgb(29,29,31);
  text-decoration: none;
}
.global-menu{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 44px;
  padding: 0 1rem;
}

/* 상단 메뉴바 */
.local-menu {
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 52px;
  padding: 0 1rem;
  border-bottom: 1px solid #ddd;
}

.local-menu-sticky .local-menu{
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: saturate(180%) blur(15px);
}

.global-menu-links, .local-menu-links{
  display: flex; /* 문자 길이만큼 배치되도록 설정한 것 */
  align-items: center;
  height: 100%;
  max-width: 1000px; /* 최대 1000px로 설정해 화면 크기가 1000px보다 작아지면 저절로 줄어들게 하기 위함*/
  margin: 0 auto;  /* 가운데 정렬을 해주기 위해 좌우 마진을 0으로 지정하고 auto로 설정 */
}

.global-menu-links{
  justify-content: space-between;
}

.global-menu-links a{
  font-size: 0.9rem;
}
/* 메뉴 부분 */
.local-menu-links a:not(.local-menu-item){
  margin-left: 1em;
  font-size: 0.85rem;
}

/* 로고(한터 이름) 부분 */
.local-menu-item{
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: auto; /* 마진을 auto로 지정하는 이유는 내가 쓸 수 있는 공간을 사용할 수 있는 범위 내에서 최대로 사용하기 위함 */
}

.content-section{
	position: relative;
  padding-top: 45vh;
}

.menu-boxes{
  display: flex;
  align-items: center;
  padding: 10vh 0;
}

.menu{
  margin: auto;
  width: 80px;
  height: 80px;
  background-color: rgb(12,65,99);
  border-radius: 50%;

  cursor: pointer;

  text-align: center;
  line-height: 80px;

  color: white;
}


.content-section h1{
  font-size: 4rem;
  text-align: center;
}

.main-message{
  display: flex;
  align-items: center;
  justify-content: center;
  top: 40vh;
  margin: 5px 0;
  height: 3em;
  font-size: 2rem;
  opacity: 0;
}

.sticky-elem-canvas{
  top: 0;
  height: 100%;
}

.sticky-elem-canvas canvas{
  top: 50%;
  left: 50%;
  position: absolute;
}
.main-message p{
  color: black;
  text-align: center;
  line-height: 1.2em;
}

.main-message.d strong, .main-message.a strong{
  color: rgb(12,65,99);
}

.description{
  padding-top: 25vh;
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 1000px;
}

.js-footer {
	display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  position: relative;
  width: 100%;
	height: 52px;
  background: rgb(12,65,99);
}

.sns_btn button{
  max-width: 1000px;
  margin: 0 1rem;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.sticky-elem{
  display: none;
  position: fixed;
  width: 100%;
  left: 0;
}

#show-scene-0 #content-section-0 .sticky-elem{
  display: block;
}

/* 가로 1024px 이상 화면을 가진 기기에서는 아래 css 적용 */
@media (min-width: 1024px) {
  .content-section h1{
    font-size: 8rem;
    letter-spacing: 1.5rem;
  }
  .local-menu-links a:not(.local-menu-item){
    margin-left: 2em;
  }
  .main-message{
    font-size: 4vw;
  }
  .menu-boxes{
    padding: 10vh 0;
    margin: 0 30vh;
  }
  .menu{
    font-size: 1.5rem;
    width: 130px;
    height: 130px;
    line-height: 130px;
  }
}
