#newTable{
    display: table;
    border-collapse: collapse;
    text-align: left;
    background-color: cadetblue;
    width: 1000px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;

}


#up1{
    border: 1px solid black;

}
#up2{
    margin-right: 200px;
    padding-right: 100px;
    padding-left: 100px;
    border: 1px solid black;

}

#valueTable{
    display: table;
    border-collapse: collapse;
    text-align: left;
    width: 1000px;
    margin-left: 150px;
    
}

#upT{
    background-color: darkgray;
    text-align: center;
}