
#tnum, #ttitle, #tdate, #tperson{
    color:white;
    font-size: 1rem;
    font-family: verdana;
    padding: 0.5rem;
    border: 1px solid white;
    background-color: rgb(43, 89, 117);
}

#writebtn{
    margin-top: 25px;
    margin-bottom:25px;
    padding:10px 15px;
    background: rgb(47, 110, 150);
    border:0 none;
    font-weight: 600;
    color: white;
    border-radius: 10px;
}

.notice-content-section{
    max-width: 1000px;
    padding-top: 15vh;
    margin: 3vh auto;
    align-items: center;
}




